<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="blutechnologies.com.parentalcontrol">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".uiActivities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".uiActivities.WelcomeAcitivty"
            android:label="@string/title_activity_welcome_acitivty"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".uiActivities.ChildSignInEmailActivity"
            android:label="@string/title_activity_sign_in"
            android:parentActivityName=".uiActivities.WelcomeAcitivty"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="blutechnologies.com.parentalcontrol.uiActivities.WelcomeAcitivty" />
        </activity>
        <activity
            android:name=".uiActivities.ChildSiginPasswordActivity"
            android:label="@string/title_activity_sigin_password"
            android:parentActivityName=".uiActivities.ChildSignInEmailActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="blutechnologies.com.parentalcontrol.uiActivities.ChildSignInEmailActivity" />
        </activity>
        <activity
            android:name=".uiActivities.DevicesSetupActivity"
            android:label="@string/title_activity_devices_setup"
            android:parentActivityName=".uiActivities.ChildSiginPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="blutechnologies.com.parentalcontrol.uiActivities.ChildSiginPasswordActivity" />
        </activity>
        <activity
            android:name=".uiActivities.ParentSignupEmailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".uiActivities.ParentSignupPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".uiActivities.ParentActivationCodeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".uiActivities.ChildNameActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".uiActivities.ChildAgeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".uiActivities.ChildListActivity"
            android:label="@string/title_activity_child_list"
            android:parentActivityName=".uiActivities.DevicesSetupActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="blutechnologies.com.parentalcontrol.uiActivities.DevicesSetupActivity" />
        </activity>
        <activity
            android:name=".uiActivities.ChildConfigurePermissionActivity"
            android:label="@string/title_activity_child_configure_permission"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".uiActivities.ChildStayConnectedBackgroundActivity"
            android:label="@string/title_activity_child_stay_connected_background"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".uiActivities.ChildAppStatisticActivity"
            android:label="@string/title_activity_child_app_statistic"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".uiActivities.ChildAcessibiltyActivity"
            android:label="@string/title_activity_child_acessibilty"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".uiActivities.ChildHurrayActivity"
            android:label="@string/title_activity_child_almost_done"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".uiActivities.ChildMessengerActivity"
            android:label="@string/title_activity_child_messenger"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".uiActivities.ChildResetPasswordActivity"
            android:label="@string/title_activity_child_reset"
            android:parentActivityName=".uiActivities.ChildSiginPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="blutechnologies.com.parentalcontrol.uiActivities.ChildSiginPasswordActivity" />
        </activity>
    </application>

</manifest>